/* header section */

.infoDiv {
  background-color: #f2f2f2;
  padding: 20px 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoDiv span {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #1c2752;
}

.mediaDiv {
  display: flex;
  gap: 17px;
  align-items: center;
}

/* header 2 seciton */

.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 360px;
}

.yellowInfoDiv {
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb342;
  border-radius: 50%;
}

.contactInfo {
  display: flex;
  gap: 11px;
}

.info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.info2 :nth-child(1) {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.1px;
  color: #1c2752;
}

.info2 :nth-child(2) {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #7e7e7e;
}

.mailInfo {
  margin-right: 68px;
}

/* navigation + cover section */

.coverSection {
  position: relative;
  width: 100%;
  margin-top: 65px;
}

.coverSection .provideSpan img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.textOverlay {
  position: absolute;
  top: 240px;
  left: 250px;
  right: 941px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  z-index: 2;
  width: 619px;
  gap: 32px;
}

.textOverlay span {
  display: flex;
  align-items: center;
  padding: 8px 16px 7px 16px;
  gap: 10px;
  background-color: #ffffff33;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
}

.textOverlay p {
  font-family: Mulish;
  font-size: 60px;
  font-weight: 800;
  line-height: 75.3px;
  color: #ffffff;
}

.textOverlay a {
  background-color: #ffb342;
  padding: 20px 33px 21px 33px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  color: #1c2752;
}

.headerSection {
  position: absolute;
  top: -40px;
  left: 220px;
  width: 1199px;
  height: 93px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  background-color: #ffb342;
  padding: 14px;
}

.headerSection nav ul {
  display: flex;
  gap: 40px;
}

.headerSection nav ul li a {
  color: #2f2f2f;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
}

.navQ a {
  color: #ffff;
  background-color: #1c2752;
  padding: 20px 22px 21px 22px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  text-align: left;
}

/* mechanic-man-section */

.mechanic-man-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px;
  gap: 60px;
}

.mechanicFullText {
  width: 600px;
  height: 498.16px;
}

.mechanic-man-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mechanic-man-text h4 {
  background-color: #f4f4f4;
  width: 203.48px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #1C2752;
  ;
}

.mechanic-man-text h3 {
  font-family: Mulish;
  font-size: 45px;
  font-weight: 800;
  line-height: 56.48px;
  color: #1c2752;
}

.mechanic-man-text p,
.mechanic-man-text span {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #7e7e7e;
}

.div35 {
  margin-top: 38px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.exp-35-years {
  background-color: #f4f4f4;
  width: 175px;
  height: 197.16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.exp-35-years span {
  display: flex;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 800;
  line-height: 25.1px;
  text-align: center;
  color: #1c2752;
}

.exp-spans {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.exp-spans span {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #7E7E7E;
}
