/* header section */

.infoDiv {
  background-color: #f2f2f2;
  padding: 20px 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoDiv span {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #1c2752;
}

.mediaDiv {
  display: flex;
  gap: 17px;
  align-items: center;
}

/* header 2 seciton */

.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 360px;
}

.yellowInfoDiv {
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb342;
  border-radius: 50%;
}

.contactInfo {
  display: flex;
  gap: 11px;
}

.info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.info2 :nth-child(1) {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.1px;
  color: #1c2752;
}

.info2 :nth-child(2) {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #7e7e7e;
}

.mailInfo {
  margin-right: 68px;
}

/* navigation + cover section */

.coverSection {
  position: relative;
  width: 100%;
  margin-top: 65px;
}

.coverSection .provideSpan img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.textOverlay {
  position: absolute;
  top: 240px;
  left: 250px;
  right: 941px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  z-index: 2;
  width: 619px;
  gap: 32px;
}

.textOverlay span {
  display: flex;
  align-items: center;
  padding: 8px 16px 7px 16px;
  gap: 10px;
  background-color: #ffffff33;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
}

.textOverlay p {
  font-family: Mulish;
  font-size: 60px;
  font-weight: 800;
  line-height: 75.3px;
  color: #ffffff;
}

.textOverlay a {
  background-color: #ffb342;
  padding: 20px 33px 21px 33px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  color: #1c2752;
}

.headerSection {
  position: absolute;
  top: -40px;
  left: 220px;
  width: 1199px;
  height: 93px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  background-color: #ffb342;
  padding: 14px;
}

.headerSection nav ul {
  display: flex;
  gap: 40px;
}

.headerSection nav ul li a {
  color: #2f2f2f;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
}

.navQ a {
  color: #ffff;
  background-color: #1c2752;
  padding: 20px 22px 21px 22px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  text-align: left;
}

/* mechanic-man-section */

.mechanic-man-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px;
  gap: 60px;
}

.mechanicFullText {
  width: 600px;
  height: 498.16px;
}

.mechanic-man-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mechanic-man-text h4 {
  background-color: #f4f4f4;
  width: 203.48px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #1c2752;
}

.mechanic-man-text h3 {
  font-family: Mulish;
  font-size: 45px;
  font-weight: 800;
  line-height: 56.48px;
  color: #1c2752;
}

.mechanic-man-text p,
.mechanic-man-text span {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #7e7e7e;
}

.div35 {
  margin-top: 38px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.exp-35-years {
  background-color: #f4f4f4;
  width: 175px;
  height: 197.16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.exp-35-years span {
  display: flex;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 800;
  line-height: 25.1px;
  text-align: center;
  color: #1c2752;
}

.exp-spans {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.exp-spans span {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #7e7e7e;
}

/* commercial section */

.mainServiceSection {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffb342;
  height: 750px;
  padding-top: 127px;
}

.commercialTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 723px;
  gap: 32px;
}

.commercialTxt h2 {
  font-family: Mulish;
  font-size: 45px;
  font-weight: 800;
  line-height: 56.48px;
  color: #1c2752;
}

.commercialTxt p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #1c2752;
  text-align: center;
}

.commercial-spans {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  width: 221px;
  height: 65px;
  color: #1c2752;
  display: flex;
  justify-content: center;
  gap: 30px;
  cursor: pointer;
}

.commercial {
  background-color: #ffff;
  display: flex;
  align-items: center;
  padding: 15px 31px;
  gap: 7px;
}

.residential-industrial {
  border: 1px solid #1c2752;
  display: flex;
  align-items: center;
  padding: 15px 31px;
  gap: 7px;
}

.arch-section {
  position: absolute;
  bottom: -170px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 509px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 59px 66px;
  gap: 10px;
  justify-content: space-between;
}

.arch-section-txt {
  width: 562px;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.arch-section-txt h4 {
  width: 257px;
  height: 45px;
  padding: 8px 16px 7px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f4f4f4;
  color: #1c2752;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
}

.arch-section-txt h2 {
  font-family: Mulish;
  font-size: 35px;
  font-weight: 800;
  line-height: 43.93px;
  text-align: left;
  color: #1c2752;
}

.arch-section-txt p,
.arch-section-txt span {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  color: #7e7e7e;
}

.arch-section-txt a {
  width: 190px;
  height: 65px;
  padding: 20px 43px 21px 43px;
  background-color: #ffb342;
  text-align: center;
  align-items: center;
  color: #1c2752;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
}

/* our services section */

.our-services-section {
  background-color: #f4f4f4;
  height: 1329px;
}

.our-services-txt {
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 18px;
  align-items: center;
  width: 687px;
  margin: 0 auto;
}

.little-our-services {
  background-color: #ffffff;
  width: 173px;
  height: 45px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  color: #1c2752;
}

.our-services-txt h2 {
  font-family: Mulish;
  font-size: 45px;
  font-weight: 800;
  line-height: 56.48px;
  color: #1c2752;
}

.our-services-txt p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #7e7e7e;
}

.services-all-div {
  display: flex;
  flex-wrap: wrap;
  width: 1199px;
  margin: 0 auto;
  gap: 25px;
  margin-top: 37px;
}

.services-each-div {
  width: 383px;
  height: 322px;
  padding: 47px 37px 47px 36px;
  background-color: #1c2752;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-each-div h3 {
  font-family: Mulish;
  font-size: 25px;
  font-weight: 700;
  line-height: 31.38px;
  color: #ffb342;
  margin: 20px 0px 11px;
}

.services-each-div p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #d2d2d2;
  margin-bottom: 30px;
}

.services-each-div a {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  color: #ffff;
}

/* why-choose-us section */

.why-choose-us-section {
  height: 921px;
  position: relative;
  display: flex;
  gap: 70px;
  opacity: 1;
}

.image-container {
  position: relative;
}

.why-us-image-txt {
  position: absolute;
  top: 115px;
  left: 110px;
  width: 630px;
  background-color: #1c2752b2;
  padding: 182px 115px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  opacity: 1;
  border: 1px solid #000000;
}

.image-column-txt {
  display: flex;
  width: 304px;
  height: 65px;
  gap: 10px;
  align-items: center;
}

.image-column-txt span {
  background-color: #ffb342;
  width: 96px;
  height: 65px;
  font-family: Mulish;
  font-size: 25px;
  font-weight: 800;
  line-height: 31.38px;
  color: #1c2752;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-column-txt h4 {
  border: 1px solid #ffffff;
  width: 304px;
  height: 65px;
  padding: 17px 22px;
  gap: 10px;
  opacity: 0px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.right-text-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 560px;
}

.little-why-us {
  width: 200.16px;
  height: 45px;
  padding: 8px 16px 7px 16px;
  gap: 10px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  color: #1c2752;
}

.right-text-column h2 {
  font-family: Mulish;
  font-size: 45px;
  font-weight: 800;
  line-height: 56.48px;
  color: #1c2752;
  width: 508px;
  margin: 20px 0px 22px;
}

.right-text-column p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #7e7e7e;
  margin-bottom: 44px;
}

.experience-div {
  display: flex;
  gap: 13px;
}

.experience-div h3 {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.1px;
  color: #1c2752;
  margin-bottom: 5px;
}

.experience-div p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #7e7e7e;
}

/* our-recent-work-section */

.our-recent-work-section {
  height: 1134px;
  background-color: #1c2752;
}

.the-gallery {
  width: 162.16px;
  height: 45px;
  padding: 8px 16px 7px 16px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  margin: 0 auto;
}

.our-recent-work-section h2 {
  font-family: Mulish;
  font-size: 45px;
  font-weight: 800;
  line-height: 56.48px;
  text-align: center;
  color: #ffff;
  margin: 9px 0px 60px;
}

.recent-work-txt {
  padding-top: 169px;
}

.all-image-man-div {
  display: flex;
  gap: 30px;
  width: 1866px;
  margin: 0 auto;
}

.image-man-div {
  width: 444px;
  height: 626px;
  padding: 21px 22px;
  gap: 10px;
  background-color: #ffffff;
  text-align: center;
}

.image-man-div h4 {
  font-family: Mulish;
  font-size: 25px;
  font-weight: 700;
  line-height: 31.38px;
  color: #1c2752;
  margin: 23px 0px 7px;
}

.image-man-div span {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #7e7e7e;
}

/* customer-form section */

.customer-form-section {
  margin-top: 150px;
}

.all-form-div {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  height: 892.18px;
  gap: 39px;
}

.customer-div {
  display: flex;
  flex-direction: column;
}

.customer-title {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 23px;
}

.customer-title div {
  background-color: #f4f4f4;
  width: 162.16px;
  height: 45px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  color: #1c2752;
}

.customer-title h3 {
  font-family: Mulish;
  font-size: 35px;
  font-weight: 800;
  line-height: 43.93px;
  color: #1c2752;
}

.nancy-customer {
  display: flex;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 17px;
}

.nancyAndP {
  display: flex;
  flex-direction: column;
  width: 581px;
  height: 411.18px;
  padding: 39px;
  gap: 10px;
  border: 1px solid #dddddd;
}

.nancy-customer img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.nancy-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  margin: 0px 245px 0px 11px;
}

.nancy-info h3 {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.1px;
  color: #1c2752;
}

.nancy-info span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #7e7e7e;
}

.nancy-p {
  font-family: Inter;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 29.92px;
  letter-spacing: 0.035em;
  color: #7e7e7e;
  margin-bottom: 30px;
}

.nancy-p span {
  font-family: Inter;
  font-size: 22px;
  font-style: italic;
  font-weight: 600;
  line-height: 29.92px;
  letter-spacing: 0.035em;
  color: #1c2752;
}

.question-div {
  background-color: #ffb342;
  margin-top: 33px;
  width: 581px;
  height: 321px;
  padding: 50px 42px 50px 42px;
  gap: 10px;
}

.question-div div {
  width: 168.16px;
  height: 45px;
  padding: 8px 16px 7px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f4f4f4;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  color: #1c2752;
}

.question-div h2 {
  font-family: Mulish;
  font-size: 25px;
  font-weight: 800;
  line-height: 31.38px;
  color: #1c2752;
  margin: 22px 0px 12px;
}

.question-div p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #1c2752;
  margin-bottom: 22px;
}

.question-div a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  font-family: Mulish;
  font-size: 30px;
  font-weight: 800;
  line-height: 45.46px;
}

/* form section */

.full-form {
  width: 580px;
  height: 892px;
}

.full-form h2 {
  font-family: Mulish;
  font-size: 35px;
  font-weight: 800;
  line-height: 43.93px;
  color: #1c2752;
  margin: 15px 0px 23px;
}

.meet-us {
  width: 135.16px;
  height: 45px;
  gap: 10px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  color: #1c2752;
}
.registration-form {
  width: 580px;
  height: 765px;
  padding: 68px 58px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.registration-form input,
.registration-form textarea {
  padding: 21px 33px;
  border: 1px solid #dddddd;
  font-size: 16px;
}

.registration-form input:not(.date-input),
.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="tel"] {
  width: 464px;
  height: 65px;
}

.registration-form .date-input {
  width: 464px;
  height: 65px;
  border: 1px solid #dddddd;
}

.registration-form textarea {
  width: 464px;
  height: 139px;
  border: 1px solid #dddddd;
  resize: none;
}

.registration-form button {
  width: 463px;
  height: 65px;
  padding: 20px 197px 21px 197px;
  background-color: #ffb342;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  text-align: center;
  color: #1c2752;
  cursor: pointer;
  border: none;
}

.clients-div {
  width: 1006px;
  margin: 0 auto;
  height: 206px;
  margin-top: 75.82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 143px;
}

.clients {
  width: 123.16px;
  height: 45px;
  gap: 10px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  color: #1c2752;
}

.clients-div h2 {
  margin: 14px 0px 44px;
  font-family: Mulish;
  font-size: 35px;
  font-weight: 800;
  line-height: 43.93px;
  color: #1c2752;
}

.logos {
  display: flex;
  gap: 94px;
}

/* price section */

.price-section {
  background-color: #f4f4f4;

  height: 1283px;
  padding: 148px 360px;
}

.price-titles {
  display: flex;
  gap: 144px;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.price-plan {
  width: 186.16px;
  height: 45px;
  gap: 10px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  color: #1c2752;
  margin-bottom: 9px;
}

.price-section h2 {
  font-family: Mulish;
  font-size: 45px;
  font-weight: 800;
  line-height: 56.48px;
  color: #1c2752;
  width: 477px;
}

.price-section p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.01px;
  color: #7e7e7e;
  width: 579px;
}

.each-price-div {
  width: 384px;
  height: 596px;
  padding: 40px;
  background-color: #ffff;
}

.price-offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 32px;
  margin-bottom: 16px;
}

.price-offer h4 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  color: #1c2752;
}

.price-offer h3 {
  font-family: Mulish;
  font-size: 30px;
  font-weight: 800;
  line-height: 37.65px;
  color: #1c2752;
}

.price-offer span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #7e7e7e;
}

.offer-list {
  display: flex;
  flex-direction: column;
}

.offer-list span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 41.6px;
  color: #7e7e7e;
}

.offer-list div {
  display: flex;
  align-items: center;
  gap: 12.04px;
}

.each-price-div h5 {
  background-color: #ffb342;
  width: 302px;
  height: 65px;
  padding: 20px 108px;
  border: 1.5px 0px 0px 0px;
  margin-top: 44px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  color: #1c2752;
  cursor: pointer;
}

.all-price-div {
  display: flex;
  gap: 24px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 74px;
}

.second-div p {
  width: 100px;
  height: 30px;
  background-color: #ffb342;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #1c2752;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.second-buy-now {
  border: 1.5px solid #ffb342;
  width: 302px;
  height: 65px;
  padding: 20px 108px;
  border: 1.5px 0px 0px 0px;
  margin-top: 44px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  color: #1c2752;
  cursor: pointer;
}

.bottom-done {
  width: 1198px;
  margin: 0 auto;
  gap: 82px;
  display: flex;
}

.each-bottom-done {
  display: flex;
  margin: 74px 0px 148px;
}

.bottom-done span {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.1px;
  color: #1c2752;
}

.bottom-done p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #7e7e7e;
  width: 513px;
}

.bottom-p {
  margin-left: 13px;
}